s2:
{% for info in remote2_facts.instances %}
  remote_public_ip: {{ info.public_ip_address }}
  remote_private_ip: {{ info.private_ip_address }}
{% endfor %}
{% for info in core2_facts.instances %}
  core_public_ip: {{ info.public_ip_address }}
  core_private_ip: {{ info.private_ip_address }}
{% endfor %}


