interface Tunnel1
 ip address {{ backbone.tunnel_network | ipaddr('2') | ipaddr('address') }} {{ backbone.tunnel_network | ipaddr('netmask') }}
 ip mtu {{ mtu }}
 ip tcp adjust-mss {{ mss }}
 tunnel source GigabitEthernet1
 tunnel destination {{ s1.core_public_ip }}
